/* 
body{
    min-height: 100px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    
}
.but{
    padding: 1px;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    color: #fff;
    background: #3e82da;
    transition: all 0.2s ease;
    cursor: pointer;
}
.row{
    display: flex;
    column-gap: 15px;
}
.login{
    padding: auto;
    margin: auto;
    color:#3e82da;
    border: none;
    cursor: pointer;
}
.login :hover{
    background-color: #1c56a2;
    color:#ddd;
}
.form button:hover {
    background: #1c56a2;
  }
@media screen and (max-width:500px) {
    
}
.container header{
    font-size: 1.53rem;
    text-align: center;
    font-weight: 500;
}
.container form{
    margin-top: 30px;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label{
    color: rgb(14, 13, 11);
}
.form  :where(.input-box input){
    position: relative;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 8px;
    border-radius: 6px;
    outline: none;
}
.input-box input:focus{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
} */


/* Import Google font - Poppins */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background:#f1f8fc;
  }
.employ{
  margin-top: 1rem;
}

.login{
  margin-top: 2rem;
}

  .container {
    /* position: relative; */
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  }
  .container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
  }
  
  .container .form {
    margin-top: 30px;
  }
  .form .input-box {
    width: 100%;
    margin-top: 20px;
  }
  .input-box label {
    color: #333;
  }
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .form .login {
    display: flex;
    column-gap: 15px;
  }
  
  .form .but {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #64bcf4;
  }
  .form button:hover {
    background: #5bacdf;
  }
  
  .login{
    display: flex;
    border: none;
  }

.manager{
 margin-top: 2px;
 padding: auto;
}

  @media screen and (max-width: 500px) {
  }
  