<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Welcome {{name}}</h3>
    {% if messages %}
    {% for i in messages %}
    <small {% if i.tags %} class="{{i.tags}}" {% endif %}>
        {{i}} </small>
    {% endfor %}
    {% endif %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_fields_errors %}
          {% for error in form.non_fields_errors %}
            <p>{{error}}</p>
           {% endfor %}
        {% endif %}

        {% for fm in form %}
         {{fm.label_tag}} {{fm}} {{fm.errors| striptags}}<br></br>
        {% endfor %}
        <input type="submit" value="Save">
    </form>
</body>
</html>