<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Multiple user login</title>
  </head>
  <body>
  
        
 
    <div class="container">
        
      {% if msg %}
      {{ msg | safe }}
  {% else %}
  <header>
  {% include "nav3.html" %} 
  <br>
      Login page </header>
  {% endif %}
        <form  class="form" method="post">
          
           {% csrf_token %}
           
           <div class="input-box">
            <label for="username">Username</label>
              {{ form.username }}
          </div>
          <div class="input-box">
            <label for="username">Password</label>
            {{ form.password }}
          </div>

          
          <input class="but"  type="submit" value="Log In">
          <div class="row">
            <p>Don't have an account?<a href="/register" style="color:  #64bcf4">SignUp</a></p>
        </div>
        </form>
      </div>


      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>