<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/nav2.css">
</head>
<body>
    <header>
        <div class="containerx">
          <div class="logo">
            <!-- <img src="./img/logo.png" alt="Logo" /> -->
            <h4>Skill<strong>Nest</strong></h4>
          </div>

          <div class="links">
            <ul>
              <li><a href="#">Features</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="/profile" class="btnn">Profile</a></li>
              <li><a href="/logout" class="btn">Logout</a></li>
            </ul>
          </div>

          <div class="overlay"></div>

          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </header>
</body>
</html>