<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="update.css">
    <title>SkillNest</title>
</head>

<body>


    <div class="container">
        <div class="card">
            <div class="image-container">
                <img src="ONE.avif" />
            </div>
            <div class="circle">
                
            </div>
            <div class="content">
                <a>Domain:Technology</a>
                <br>
                <a>SkillName:C++</a>
                <br>
                <a>Level:Intermediate</a>
                <a>Years of Experience:10years</a>
                <br>
                <a>Projects Done:</a>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, distinctio. Repellendus n</p> 
                <a class="btn" href="#">Update</a>
                <a class="btn" href="#">Delete</a>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="ONE.avif" />
            </div>
            <div class="circle">

                <h2>01</h2>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, distinctio. Repellendus nulla
                    labore aut ea laboriosam nostrum inventore tempora perspiciatis architecto iusto sit non sequi amet,
                    atque fugit error explicabo!</p>

                    <a class="btn" href="#">Update</a>
                    <a class="btn" href="#">Delete</a>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="ONE.avif" />
            </div>
            <div class="circle">
                <h2>01</h2>
            </div>
            <div class="content">
                <a>Domain</a>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, distinctio. Repellendus nulla
                    labore aut ea laboriosam nostrum inventore tempora perspiciatis architecto iusto sit non sequi amet,
                    atque fugit error explicabo!</p>
                    <a class="btn" href="#">Update</a>
                    <a class="btn" href="#">Delete</a>
            </div>
        </div>
        
    </div>


</body>

</html>